doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Invoice
table(width='100%' style='background-color: white')
  tbody
    tr
      td(align='center')
        table(width='600px' style='background-color: #F5F5F5')
          tbody
            tr
              td(align='center')
                table(width='90%')
                  tbody
                    tr
                      td
                        table
                          tbody
                            tr
                              table(width='100%')
                                tbody
                                  tr
                                    td(height='30px') &nbsp;
                                  tr
                                    td(align='right' height='30px')
                                      | Date:!{newDate}
                                  tr
                                    td(align='right' height='30px')
                                      | Ref.No:!{refNum}
                                  tr
                                    td
                                      table
                                        tbody
                                          tr
                                            td(height='40px')
                                              | Greetings,
                                          tr
                                            td(height='0px') &nbsp;
                                          tr
                                            td(align='justify')
                                              | As per our contract
                                              | !{coorperateName} has provided a
                                              | taxi service to your
                                              | Organization.We hereby request
                                              | a payment for the month of
                                              | !{currentMonth} an Amount of
                                              span(style='font-weight: bolder') !{amount}
                                              |                                                   according to our contract
                                              |                                                   norms.Kindly Find the attached
                                              |                                                   paper for your reference.
                                          tr
                                            tbody
                                              tr
                                                td(height='70px')
                                          tr
                                            table(width='100%')
                                              tbody
                                                tr
                                                  td(align='right' height='25px')
                                                    | Habamu Tadesse
                                                tr
                                                  td(align='right' height='35px')
                                                    | General Manager
                                                tr
                                                  tbody
                                                    tr
                                                      td(height='150px')
